.optionsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;

    @media screen and (max-width:400px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.5rem
    }

}

.questionHeading {
    width: inherit;
    
    @media screen and (max-width:400px) {
    font-size: medium;
    }
}

.question {
    justify-content: center;
}